name: terraform-plan

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        default: 'poc'
        required: true
        type: choice
        options:
          - poc
          - dev



jobs:

  terraform-plan: 
    runs-on: ubuntu-latest
      
    env:
      ARM_CLIENT_ID: ${{ vars.AZ_CLIENT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ vars.AZ_SUBSCRIPTION_ID }}
      ARM_TENANT_ID: ${{ vars.AZ_TENANT_ID }}
      #ARM_USE_OIDC: true

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          auth_type: SERVICE_PRINCIPAL
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Verify Azure Login
        run: az account list --output table

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init 

      - name: Terraform Plan
        run: terraform plan --var-file="./${{ github.event.inputs.env }}/${{ github.event.inputs.env}}.tfvars"